{% extends 'base.html' %}

{% load static %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
     <p>Flower: <input type="file" name="myfile"><br></p>
     <p>Leaf:<input type="file" name="myfile2"><br></p>
     <p>Entire:<input type="file" name="myfile3"><br></p>
    <button type="submit">Upload</button>
  </form>

  {% if uploaded_file_url %}
    <p>Results: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}
